*{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html{
    font-size: 62.5%;
    box-sizing: border-box;
}
body,input{
    font-size: 1.6rem;
    font-weight: 400;
    font-family: "Archivo",sans-serif;
    color: black;
}
a{
    text-decoration: none;
    color:black;
}
a:hover{
    text-decoration: none;
}


/* Header */
.nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: nowrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    justify-content: space-between;
    flex-direction: row;
    height: 7rem;
    background: white;
    padding: 15px 35px;
    box-shadow:2px 3px rgba(0, 0, 0, 0.05);
    align-items: center;
    
}
.nav__logo{
    /* width: 50x;
    height: 60px;
    padding: 5px; */
    /* float: left; */
}
.nav__logo img{
    width: 100%;
    height: 100%;
}
.nav__logo a h3{
    color: black;
    font-weight: 400;
    font-size:26px;
}
.nav__logo a h3:hover{
    font-size: 32px;
    text-decoration: none;
    color: red;
}
ul{
    list-style: none;
}
.nav__list{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    color: black;
}
.nav__item:not(:last-child){
    margin-right: 1.6rem;
}


.nav__menu{
    margin-top:0.5rem;
}
.nav__menu li a{
    color: black;
    font-weight: 400;
    font-size:18px;
}
.nav__menu li a:hover{
    color: red;
    text-decoration: none;
    /* border:1px solid rgba(226, 222, 222, 0.308); */
    background-color:rgba(7, 7, 7, 0.075);
    border-radius: 5px;
}
.nav__icons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.icon__item:not(:last-child){
    margin-right: 1.6rem;
}
.icon__item{
    font-size: 20px;
}

/* Banner */
.banner_information{
    display: flex;
    align-content: center;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    
}
.card_information{
    border:none;
    background-color:rgba(0, 0, 0, 0);
    font-weight: bold;
}
.banner{
    width: 100%;
    height:800px;
   
}
.banner h1{
    font-size:30px;
}
.btn-banner{
    background:black;
    border:black solid;
    min-width: 200px;
    text-align: center;
    font-size:24px;
}
.btn-banner:hover{
    background:red;
    border:red solid;
}